/* Styling for the footer */
.website-footer {
    background-color: transparent;
    color: #fff;
    margin-top: 130px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.website-footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.website-footer ul li {
    margin-left: 10px; /* Jarak antara gambar-gambar */
}

.website-footer img {
    width: 30px; /* Lebar gambar yang Anda inginkan */
}

.website-footer .twt{
    width: 27px;
}

.website-footer .gmail{
    width: 38px;
    margin-left: 10px;
}

.website-footer .yt{
    width: 37px;
    margin-left: 3px;
}

.website-footer .pst{
    width: 17px;
    margin-left: 10px;
}

.website-footer .ig{
    width: 33px; 
    margin-left: 6px;
}

.website-footer .fb{
    width: 26px;
    margin-left: 3px;
}

.website-footer .twt:hover{
    transform: scale(1.2);
}
  
.website-footer .gmail:hover{
    transform: scale(1.2);
}
  
.website-footer .yt:hover{
    transform: scale(1.2);
}
  
.website-footer .pst:hover{
    transform: scale(1.2); 
}
  
.website-footer .ig:hover{
    transform: scale(1.2); 
}
  
.website-footer .fb:hover{
    transform: scale(1.2);
}
  
